/*---Login new Style----*/
a {text-decoration: none;color: #0276AE;-webkit-transition: .5s ease;transition: .5s ease;}
a:hover {color: #0276AE;}
.form{
	background-color:#fff;
	padding: 10px 20px;
	max-width: 600px;
	min-height:470px;
	margin: 3% auto;
	border-radius: 4px;
	font-size:14px !important;
	}
.tab-group {
	padding: 0;
	margin: 0 0 5% 0;
	}
.tab-group > h2{
	 font-size: 28px;
    font-weight: bold;
	}
.tab-group:after {content: "";display: table;clear: both;}
.tab-group li a {display: block;text-decoration: none;padding: 15px;background:#999;color: #fff;font-size: 16px;float: left;width: 50%;text-align: center;cursor: pointer;-webkit-transition: .5s ease;transition: .5s ease;}
.tab-group li a:hover {background: #0276AE;color: #ffffff;}
.tab-group .active a {background: #0276AE; color: #ffffff;}
.tab-content > div:last-child {display: none;}
h1 {text-align: center;font-weight: 300;margin: 0 0 40px;}
label{position: absolute;-webkit-transform: translateY(6px);transform: translateY(6px);left: 13px;color:#CCC;-webkit-transition: all 0.25s ease;
transition: all 0.25s ease;-webkit-backface-visibility: hidden;pointer-events: none;font-size: 16px;padding-top: 1%;}
label .req {margin: 2px;color: #0276AE;}
label.active {-webkit-transform: translateY(50px);transform: translateY(50px);left: 2px;font-size: 22px;}
label.active .req {opacity: 0;}

label.highlight {color: #ffffff;}

.field-wrap > input{padding: 10px !important;}

input, textarea {/*font-size:22px;*/display: block;width: 100%;height: 100%;padding: 5px 10px;background: none;background-image: none;border: 1px solid #a0b3b0;color: #666;border-radius: 0;-webkit-transition: border-color .25s ease, box-shadow .25s ease;transition: border-color .25s ease, box-shadow .25s ease;}

.sel-drop{outline: none;display: block;width: 100%;border: 1px solid #d9d9d9;margin: 0 0 20px;padding: 10px 15px;box-sizing: border-box;

  font-wieght: 400;-webkit-transition: 0.3s ease;transition: 0.3s ease;}

.field-wrap{position: relative;margin-bottom: 20px;}

.top-row:after {content: "";display: table;clear: both;}

.top-row > div {float: left;width: 48%;margin-right: 4%;}

.top-row > div:last-child {margin: 0;}

.button-block {display: block;width:100%; margin-right:2%; margin-bottom:30px;}

.button-block-login{
	display: block;
	width:48%;
	margin-right:2%;
	margin-bottom:30px;
	font-size:15px;
	float:left;
	cursor:pointer;
	text-align: center;
	}
.button-block-login-fb{ display: block;height: 47px;width: 48% !important;}	
.button-block-login:hover{
	color:#fff;
	background-color:#0276AE;
	}
.forgot{
	margin-top: 4%;
	text-align: right;
	cursor:pointer;
	}

.otp-input{width:70%;float:left;}

.otp{width:30%; background-color:#1AB3FD;color:#fff;font-size:15px;}

.field-wrap > .otp{
	width:30%;
	background-color:#0288c8;
	color:#fff;
	font-size:15px;
	padding:1.4% 0px !important;
	margin: -3px;
	}
.otp:hover{width:30%; background-color:#0276AE;color:#fff;}
.auto-post{text-transform:uppercase; display:inline-block;}
.modal-body{padding: 0px !important;position: relative;}

/*----Login new Style----*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.form {margin: 21% auto;max-width: 600px;min-height: 470px;padding: 10px 20px;}
.button-block-login-fb{ display: block;height: 47px;width: 48% !important;}	
.button-block-login{}
.otp-input{width:70%;float:left;}
.otp{width:30%; background-color:#1AB3FD;color:#fff;font-size:12px;}
.field-wrap > .otp{width:30%;background-color:#0288c8;color:#fff;font-size:15px;padding: 3.2% 0 !important;}
.otp:hover{width:30%; background-color:#0276AE;color:#fff;}
}
@media only screen and (min-device-width:361px) and (max-device-width : 480px){
.field-wrap > .otp{
	width:30%;
	background-color:#0288c8;
	color:#fff;
	font-size:15px;
	 padding: 2.8% 0 !important;
	margin: -3px;
	}}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
.form {margin: 13% auto;max-width: 600px;min-height: 470px;padding: 10px 20px;}	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.form {margin: 13% auto;max-width: 600px;min-height: 470px;padding: 10px 20px;}	
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1824px) {
.form {margin: 5% auto;max-width: 600px;min-height: 470px;padding: 10px 20px;}	
}
@media only screen and (min-device-width : 1920px) {
.form {margin: 13% auto;max-width: 600px;min-height: 470px;padding: 10px 20px;}	
}